@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Workbench&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

/**/

#createPlayerContainer {
    /* background-color: #EEEEEE; */
    border:1px solid #e7e7e7;
    box-shadow: 5px 5px #000000;
    border-radius: 15px;
    background-color: #31363F;
}

@keyframes colorChange {
    0% {
      color: rgb(255, 255, 255); /* Initial color */
    }
    50% {
      color: blue; /* Intermediate color */
    }
    100% {
      color: red; /* Return to initial color */
    }
  }

#title {
    animation: colorChange 1s infinite;
    color: white;
    font-size: 3rem;
    font-family: "Workbench", sans-serif;
}

#primage {
    height: 75px;
    margin-bottom: 10px;
}

label {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.5rem;
}

#startGameBtn,
#addPlayerBtn {
    background-color: rgba(75, 75, 250, 0.3);
    padding: .5rem;
    border-radius: 20px;
    color: #EEEEEE;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.5rem;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    border-color: rgb(255, 255, 255);
}

#restartBtn {
    display: block; /* Hace que el botón sea un bloque para permitir el margen automático */
    margin: 0 auto; 
    background-color: #d51f56;
    padding: .5rem;
    border-radius: 20px;
    color: #EEEEEE;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.5rem;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    border-color: rgb(255, 255, 255);
}

h3 {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.5rem;
}

#playerInfoContainer {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 2rem;
    display: flex;
    /* background-color:#76ABAE; */
    border: 1px solid white;
    border-color: white;
    justify-content:space-around;
    color: white;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    border-color: rgb(255, 255, 255);
    background-color: rgba(75, 75, 250, 0.3);
}
#questionTextContainer {
    background-color: rgba(75, 75, 250, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    border-color: rgb(255, 255, 255);
}

.multiAnswerBtn,.booleanAnswerBtn{
    background-color: rgba(75, 75, 250, 0.3);
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-family: "Edu NSW ACT Foundation", cursive;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.6);
}

#trueAnswerBtn{
    background-color: #1fd586;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Edu NSW ACT Foundation", cursive;
    color: white;
    border-radius: 15px;
}

#falseAnswerBtn{
    background-color: #d51f6b;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Edu NSW ACT Foundation", cursive;
    color: white;
    border-radius: 15px;
}

#questionCard {
    border-color: white;
    color: white;
    border-color: rgb(255, 255, 255);
}